<!DOCTYPE html>
<html>
    <head>
        <title><%= title_tag %></title>


        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        
        <!--//#### VIEWPORT ####//-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="true">
        
        <!--//#### PREVENT CACHE ####//-->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="01 Jan 1970 00:00:00 GMT">
        <meta http-equiv="pragma" content="no-cache">
        
        
        <!--//#### KEYWORDS N DESCRIPTION ####//-->
        <meta name="keywords" content="<%= meta_keywords %>">
        <meta name="description" content="<%= meta_description %>">
        
        <!--//#### ROBOTS index,noindex,follow,nofollow ####//-->
        <meta name="robots" content="<%= meta_robots %>">
        
        
    
        <!--//########## ICON 
        <link rel="icon" type="image/x-icon" href="<%= relative_public %>grfx/favicon.ico">
        #########//-->
        
        <!--//########## ICON #########//-->
        <link rel="icon" type="image/x-icon" href="<%= favicon %>">
        





        <!--//##########  #########//-->

        <link type="text/css" rel="stylesheet" media="screen, handheld" href="css/basx.css" />
        <link type="text/css" rel="stylesheet" media="screen, handheld" href="css/button.css" />

        <script src="js/ajaxd.js"> </script>
        <script src="js/sendemail.js"> </script>





        <!--//########## ICON #########//-->



        <%- head %>

        
        <%- style %>

    </head>
    <body>
        <%- body %>

        <noscript>

            <div class='nojs'>

                <div class='message'>No Javascript - Please turn on your browsers javascript</div>

            </div>
    
        </noscript>
        

    </body>
</html>